doctype html
html(lang="es")
  head
    title Foto proyecto!
    meta(charset="utf-8")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
    link(href="css/bootstrap.min.css" rel="stylesheet")

  body
    h1 Bienvenidos a foto proyecto!
    block CONTENIDOS_VISTAS //BLOCK es una expresión reservada de PUG, de esta manera tendremos todas las vistas renderisando en esta variable!
